{% extends 'aboutPage.html' %}


{% block title %}Новости{% endblock %}


{% block body %}
<div class="card">
    <div class="card-header"><b>01-05-2019</b></div>
    <div class="card-body">Добавлена возможность регистрации пользователей</div>
</div>
<br>
<div class="card">
    <div class="card-header"><b>4-05-2019</b></div>
    <div class="card-body">Добавлена карта</div>
</div>
<br>
<div class="card">
    <div class="card-header"><b>10-05-2019</b></div>
    <div class="card-body">Добавлен личный кабинет пользователя</div>
</div>
<br>
<div class="card">
    <div class="card-header"><b>16-05-2019</b></div>
    <div class="card-body">Запуск сайта службы доставки</div>
</div>
{% endblock %}