{% extends 'aboutPage.html' %}


{% block head %}
<style>
    P {
    text-indent: 1.5em;
    font-size: 16px;
    }
</style>
{% endblock %}


{% block title %}Деятельность компании{% endblock %}


{% block body %}
<p>Сервис предлагает услуги курьерской доставки посылок по городу Москва и по московской области. Вы можете оформить
    доставку как без регистрации, так и в качестве авторизованного пользователя. Авторизация позволит фиксировать в
    личном кабинете историю отправленнх посылок.</p>
<p>Подробности о деталях доставки можно узнать в разделе "Услуги".</p>
{% endblock %}