{% extends 'base.html' %}


{% block title %}Услуги{% endblock %}


{% block body %}
<p>Типы доставки:</p><br>
<ul>
    <li><b>common.</b> Курьер заберет вашу посылку в согласованное время, но не раньше,
        чем через 8 часов после оформления заказа. Ближайшая доставка возможна на следующий рабочий день</li>
    <li><b>express.</b> Курьер заберет вашу посылку в согласованное время, но не раньше,
        чем через 2 часа после оформления. Курьер доставит посылку в течение 3 часов.</li>
</ul>
<br><br>
<p>Размеры посылки:</p>
<ul>
    <li><b>small box.</b> Картонный короб 260 × 170 × 80</li>
    <li><b>medium box.</b> Картонный короб 300 × 200 × 150</li>
    <li><b>large box.</b> Картонный короб 400 × 270 × 180</li>
    <li><b>extra large box.</b> Картонный короб 530 × 360 × 220</li>
    <li><b>parcel.</b> Бандероль</li>
    <li><b>documents.</b> Бумажные документы</li>
</ul>
{% endblock %}
