{% extends 'accountPage.html' %}


{% block body %}
<table class="table table-striped table-bordered" style="width:100%">
    <thead>
        <th>Дата отправки</th>
        <th>Дата доставки</th>
        <th>Тип</th>
        <th>Описание</th>
        <th>Откуда</th>
        <th>Куда</th>
    </thead>
    <tbody>
        {% for item in actions %}
        <tr>
            <th>{{ item.ship_date }}</th>
            <th>{{ item.delivery_date }}</th>
            <th>{{ item.type }}</th>
            <th>{{ item.description }}</th>
            <th>{{ item.from_address }}</th>
            <th>{{ item.to_address }}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}